.logo {
  font-family: var(--submain-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--logo-black {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark-text-color);
}

.logo--logo-white {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--light-text-color);
}
