.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--animation);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.nav__current-text {
  color: var(--active-color);

  &::after {
    @media screen and (min-width: 768px) {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: var(--accent-bg-color);
      border-radius: 2px;
    }
  }
}
