.socials {
  display: flex;
  gap: 10px;
  justify-content: center;

  &__icon {
    fill: currentColor;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--animation);

  &:hover,
  &:focus {
    color: var(--light-text-color);
    background-color: var(--accent-bg-color);
  }
}

.socials__link--team {
  color: var(--icon-color);
}

.socials__link--footer {
  color: var(--light-text-color);
  background-color: var(--soc-bg-color);
}
