.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-color: var(--hero-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  width: 360px;

  @media screen and (max-width: 479px) {
    width: 294px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
