.portfolio {
  @include section;

  font-size: 16px;

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.portfolio__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio__filter-btn {
  padding: 6px 22px;

  &:hover,
  &:focus {
    color: var(--light-text-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__img-container {
  position: relative;
  overflow: hidden;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__desc {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
}

.portfolio__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(
      (100% - (var(--indent-portfolio)) * (var(--items-portfolio-tablet) - 1)) /
        var(--items-portfolio-tablet)
    );
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      (100% - var(--indent-portfolio) * (var(--items-portfolio) - 1)) / var(--items-portfolio)
    );
  }
}

.portfolio__item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio__item-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--submain-text-color);
}

.portfolio__overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  color: var(--light-text-color);
  background-color: var(--portfolio-bg-desc);
  transform: translateY(100%);
  transition: transform 250ms var(--animation);

  .portfolio__link:hover & {
    transform: translateY(0);
  }
}
